/*!*******************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/demo-page/style.scss ***!
  \*******************************************************************************************************************/
body {
  margin: 0;
  font: 500 100% system-ui, sans-serif;
}

h1 {
  text-align: center;
  margin-top: 3rem;
  text-transform: uppercase;
}

section {
  padding: 1rem 1rem 2rem;
  max-width: 50rem;
  margin: 3rem auto;
  background: #abc;
  color: #efefef;
  border-radius: 0.5rem;
  position: relative;
}
section:before, section:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width: 300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
section:after {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}
