@import '../fonts/style';

@font-face {
  font-family: 'sdnRobotoCondensed';
  src: url('../common/fonts/Roboto-Regular-webfont.eot');
  src: url('../common/fonts/Roboto-Regular-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('../common/fonts/Roboto-Regular-webfont.woff') format('woff'),
    url('../common/fonts/Roboto-Regular-webfont.ttf') format('truetype'),
    url('../common/fonts/Roboto-Regular-webfont.svg#robotoregular')
      format('svg');
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
