body {
  margin: 0;
  font: 500 100% system-ui, sans-serif;
  background: #ccc;
  color: #333;
}

h1 {
  text-align: center;
  margin-top: 3rem;
  text-transform: uppercase;
  text-shadow: 0 0 4px #4448;
}

.card {
  padding: 1rem 1rem 2rem;
  max-width: 50rem;
  margin: 3rem auto;
  background: #abc;
  color: #ddd;
  text-shadow: 0 0 4px #4448;
  border-radius: 0.5rem;
  position: relative;

  // Copy/Pasted from https://css-tricks.com/almanac/properties/b/box-shadow/
  &:before,
  &:after {
    z-index: -1;
    position: absolute;
    content: '';
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width: 300px;
    background: #777;
    box-shadow: 0 15px 10px #777;
    transform: rotate(-3deg);
  }

  &:after {
    transform: rotate(3deg);
    right: 10px;
    left: auto;
  }
}
