/*!******************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/audio/template.scss ***!
  \******************************************************************************************************************/
*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "sdnicbsun";
  src: url(../fonts/2c4647aea95450ec69d3.eot);
  src: url(../fonts/2c4647aea95450ec69d3.eot?#iefix) format("embedded-opentype"), url(../fonts/de1bea8bbbbf74b96d73.woff) format("woff"), url(../fonts/a12c5afd4edb843d3edc.ttf) format("truetype"), url(../fonts/1e6c6c7dcd0977e29e1f.svg#sdnicbsun) format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^=sdnicbsun-],
[class*=sdnicbsun-] {
  font-family: "sdnicbsun" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: none;
  font-size: 2rem;
}

.sdnicbsun-audio-next:before {
  content: "\e921";
}

.sdnicbsun-audio-back:before {
  content: "\e922";
}

.sdnicbsun-audio-volume3wave:before {
  content: "\e92b";
}

.sdnicbsun-audio-volume2wave:before {
  content: "\e92c";
}

.sdnicbsun-audio-mute:before {
  content: "\e92d";
}

.sdnicbsun-audio-rewind:before {
  content: "\e92e";
}

.sdnicbsun-audio-cog:before {
  content: "\e92f";
}

.sdnicbsun-audio-pause:before {
  content: "\e930";
}

.sdnicbsun-audio-play:before {
  content: "\e931";
}

.sdnicbsun-audio-close:before {
  content: "\e932";
}

.sdnicbsun-audio-help:before {
  content: "\e933";
}

.sdnicbsun-audio-stop:before {
  content: "\e934";
}

.sdnicbsun-audio-info:before {
  content: "\e935";
}

.sdnicbsun-audio-plus15:before {
  content: "\e939";
}

.sdnicbsun-audio-minus15:before {
  content: "\e93a";
}

.sdnicbsun-audio-cast:before {
  content: "\e93e";
}

.sdnicbsun-playlist-open:before {
  content: "\e973";
}

.sdnicbsun-playlist-closed:before {
  content: "\e972";
}

@font-face {
  font-family: "sdnRobotoCondensed";
  src: url(../fonts/86c03c03a6e4002e883a.eot);
  src: url(../fonts/86c03c03a6e4002e883a.eot?#iefix) format("embedded-opentype"), url(../fonts/905640281ee27e0c2f9b.woff) format("woff"), url(../fonts/447f07f0e17bbf8b8ebb.ttf) format("truetype"), url(../fonts/2e416dfb83b610f7b128.svg#robotoregular) format("svg");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^=sdnicbsun-]::before,
[class*=sdnicbsun-]::before {
  color: #55606e;
  font-size: 32px;
  opacity: 0.65;
  transition: opacity 0.3s;
}
[class^=sdnicbsun-]:hover::before,
[class*=sdnicbsun-]:hover::before {
  opacity: 1;
}

.sdn-display {
  display: block;
  max-width: 100%;
  background-color: #eee !important;
  color: #55606e;
  font-family: "sdnRobotoCondensed";
  border-radius: 0.25rem;
  padding: 0.5rem;
}
.sdn-display .title {
  color: #00386c;
  font-weight: 900;
  display: flex;
  justify-content: space-between;
}
.sdn-display .title js3q-span {
  color: #55606e;
  font-weight: 500;
}
.sdn-display .title .sdn-audio-poster-image {
  max-width: 5rem;
  max-height: 5rem;
}
.sdn-display [data-role=player-controls] {
  display: flex;
  align-items: center;
}
.sdn-display [data-role=player-controls] [class^=sdnicbsun-]::before,
.sdn-display [data-role=player-controls] [class*=sdnicbsun-]::before {
  font-size: 2rem;
}
.sdn-display [data-role=player-controls] [data-role=seek-bar] {
  flex-grow: 1;
}
.sdn-display [data-role=chrome] {
  display: flex;
  flex-direction: row-reverse;
}
.sdn-display [data-role=chrome] .sdn-playlist-label {
  color: var(--tint-color, #d534c8);
  font-weight: 700;
}
.sdn-display [data-role=chrome] .sdn-playlist-label i {
  font-weight: normal;
  vertical-align: middle;
}
.sdn-display [data-role=playlist] {
  /* The Podcast Title needs a better class */
}
.sdn-display [data-role=playlist] .sdn-playlist-ul {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
}
.sdn-display [data-role=playlist] .sdn-playlist-ul > * {
  display: flex;
  align-items: center;
  padding-right: 0.5rem;
  border-radius: 0.25rem;
}
.sdn-display [data-role=playlist] .sdn-playlist-ul .current {
  background: var(--tint-color, #d534c8);
  color: #ddd;
}
.sdn-display [data-role=playlist] .sdn-playlist-ul .current [class^=sdnicbsun-]::before,
.sdn-display [data-role=playlist] .sdn-playlist-ul .current [class*=sdnicbsun-]::before {
  color: #ddd;
  opacity: 0.65;
}
.sdn-display [data-role=playlist] .sdn-playlist-description {
  flex-grow: 1;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.sdn-display [data-role=playlist] > *:first-child {
  display: block;
  color: var(--tint-color, #d534c8);
  font-weight: 900;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #ddd;
}

#audio-player-timeleft-span {
  color: #55606e;
}
