@font-face {
  font-family: 'sdnicbsun';
  src: url('../common/fonts/sdnicbsun.eot');
  src: url('../common/fonts/sdnicbsun.eot?#iefix') format('embedded-opentype'),
    url('../common/fonts/sdnicbsun.woff') format('woff'),
    url('../common/fonts/sdnicbsun.ttf') format('truetype'),
    url('../common/fonts/sdnicbsun.svg#sdnicbsun') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^='sdnicbsun-'],
[class*='sdnicbsun-'] {
  font-family: 'sdnicbsun' !important;
  // speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: none;
  font-size: 2rem;
}

.sdnicbsun-audio-next:before {
  content: '\e921';
}
.sdnicbsun-audio-back:before {
  content: '\e922';
}
.sdnicbsun-audio-volume3wave:before {
  content: '\e92b';
}
.sdnicbsun-audio-volume2wave:before {
  content: '\e92c';
}
.sdnicbsun-audio-mute:before {
  content: '\e92d';
}
.sdnicbsun-audio-rewind:before {
  content: '\e92e';
}
.sdnicbsun-audio-cog:before {
  content: '\e92f';
}
.sdnicbsun-audio-pause:before {
  content: '\e930';
}
.sdnicbsun-audio-play:before {
  content: '\e931';
}
.sdnicbsun-audio-close:before {
  content: '\e932';
}
.sdnicbsun-audio-help:before {
  content: '\e933';
}
.sdnicbsun-audio-stop:before {
  content: '\e934';
}
.sdnicbsun-audio-info:before {
  content: '\e935';
}
.sdnicbsun-audio-plus15:before {
  content: '\e939';
}
.sdnicbsun-audio-minus15:before {
  content: '\e93a';
}
.sdnicbsun-audio-cast:before {
  content: '\e93e';
}
.sdnicbsun-playlist-open:before {
  content: '\e973';
}
.sdnicbsun-playlist-closed:before {
  content: '\e972';
}
