[data-role='chrome'] {
  display: flex;
  flex-direction: row-reverse;

  .sdn-playlist-label {
    color: $cTint;
    font-weight: 700;

    i {
      font-weight: normal;
      vertical-align: middle;
    }
  }
}
