@import '../common/styles';
@import './variables';

[class^='sdnicbsun-'],
[class*='sdnicbsun-'] {
  &::before {
    color: $cText;
    font-size: 32px;

    opacity: 0.65;
    transition: opacity 0.3s;
  }

  &:hover::before {
    opacity: 1;
  }
}

.sdn-display {
  display: block;
  max-width: 100%;
  padding: 0.5rem 1rem;

  background-color: $cBackground !important;
  border-radius: 0.25rem;
  color: $cText;

  font-family: 'sdnRobotoCondensed';

  @import './components/title';
  @import './components/seekbar';
  @import './components/controls';
  @import './components/chrome';
  @import './components/playlist';
}
